header {
	.wrapper {
		margin: auto;
		display: flex;
		flex-flow: column wrap;
		padding: 0 1rem;

		@include mq(small) {
			padding-bottom: 3rem;
		}
	}
}

.text-color-blue {
	color: $etsyBlue;
}

.header-text {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	@include mq(small) {
		justify-content: column;
	}

	h1 {
		margin: 0;
		color: $etsyOrange;
		@include mq(small) {
			font-size: 8rem;
		}
	}

	h3 {
		margin: 0;
		@include mq(small) {
			font-size: 2rem;
		}
	}

	.header-text-title, .header-text-descript {
		width: 50%;

		@include mq(small) {
			width: 100%;
		}
	}

	.header-text-descript {
		padding-top: 2.5rem;
		text-align: justify;
		color: grey;

		p {
			margin-top: 10px;
		}
	}
}

.form-start-questionContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;

	@include mq(small) {
		flex-direction: column;
	}
}

.startForm-avatarContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;

	@include mq(small) {
		justify-content: center;
	}
}

.startForm-fieldset {
	border: none;
	position: relative;
	width: 100%;

	@include mq(small) {
		margin-top: 3rem;
	}

	label {
		position: absolute;
		top: -3rem;
		font-size: 2rem;
		color: $etsyGray;
		font-family: $font-family--header;
		@include mq(small) {
			font-size: 1.6rem;
		}
	}
}

.input-playerName,
.input-playerCity {
	@include size(38rem 7.5rem);
	background: $grey;
	border: 1px solid #DDDDDD;
	font-size: 3.5rem;
	padding-left: 3rem;
	width: 100%;
	font-family: $font-family--body;

	@include mq(small) {
		width: 100%;
		height: 5rem;
		font-size: 2.5rem;
	}

	@include placeholder {
		color: $etsyGray;
	}

	&:focus {
		outline: none;
		border: 1px solid transparentize($etsyOrange, 0.5);
	}
}

label[class^='avatarOption'] {
	@include size(22rem);
	// background: $white;
	border-radius: 50%;
	position: relative;
	@include mq(small) {
		@include size(13rem);
	}
}

.avatarOption1 {
	border: 1.2rem solid $etsyOrange;
	background: url(./images/1catavatar_playerone.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	&:hover {
		background-image: url(./images/1catavatar_playerone_hover.jpg);
	}

}

.avatarOption2 {
	border: 1.2rem solid $etsyBlue;
	margin-left: 3rem;
	background: url(./images/2catavatar_playertwo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	&:hover {
		background-image: url(./images/2catavatar_playertwo_hover.jpg);
	}
}

.selectedAvatar {
	&::before {
		content: "";
		display: block;
		
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 50%;
		background-color: transparentize($etsyBlue, 0.7);
		z-index: $z-index--3;
	}
}

input[type="radio"] {
	display: none;
}

form.form-start {
	width: 100%;
	padding: 8rem 0 5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include mq(small) {
		padding: 0;
	}
}

.input-submit-start {
	@include size(22rem 6rem);
	margin-top: 6rem;
	font-size: 4rem;
	color: $white;
	background-color: $etsyBlue;
	border: 1px solid #dddddd;
	align-self: flex-end;
	margin-left: auto;
	
	transition: all 0.5s;

	@include mq(small) {
		align-self: center;
		margin-left: 0;
	}

	&:hover {
		background-color: $etsyOrange;
	}

}

.avatarHeading {
	padding-left: 1rem;
	color: $etsyGray;
	margin-top: 4rem;
}
