.question1,
.question3,
.question5 {
	background: $etsyOrange;
}

.question2,
.question4 {
	background: $etsyBlue;
}

// @for $i from 1 through 6 {
// 	.question#{$i} {
// 		display: none;
// 	}
// }

.question {
	margin: 0;
	.wrapper {
		padding: 13rem 0;
		@include mq(small) {
			height: auto;
			padding: 5rem 1rem;
		}

	input[type=radio] {
		display: none;
	}
}
.questionHeadingContainer--1 {
	display:flex;
	justify-content: space-between;
	align-items: center;

	@include mq(small) {
		flex-direction: column;
	}

	p {
		width: 60%;
		font-size: 2.6rem;
		color: $white;
		@include mq(small) {
			order: 1;
			width: 100%;
		}
	}
}

%avatarContainer {
	@include size(20rem);
	border-radius: 50%;
	background-color: $white;
	order: -1;
}

.avatarContainer {
	&--blue {
		@extend %avatarContainer;
		border: 1.2rem solid $etsyOrange;
		@include mq(small) {
			order: -1;
		}

	}
	&--orange {
		@extend %avatarContainer;
		border: 1.2rem solid $etsyBlue;
		order: 2;
			@include mq(small) {
			order: -1;
		}
	}
}



.options {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 2.4rem;

	@include mq(small) {
		flex-direction: column;
		align-items: center;
	}
}

label {
	width: 24.5%;
	@include mq(small) {
		width: 100%;
		margin-top:3rem;
	}

	&:hover > .square-answers > .answers-img-container  > .answers-img-overlay {
		opacity: 1;
	}

	&:hover > .square-answers > .answers-text {
		color: $black;
		text-decoration: underline;
	}
}

.square-answers {
	@include size(100% 29rem);
	margin-top: 30px;
	background: white;
	padding: 10px;
	box-shadow: 0 1px 3px grey;
	text-align: center;

	@include mq(small) {
		@include size(90% 45rem);
		margin: auto;
	}

	.answers-img-container {
		position: relative;
	}

	.answers-text {
		color: $etsyGray;
	}

	.answers-img-overlay {
		@include position(absolute, 0 0 0 0);
		background-color: rgba(0,0,0,0.5);
		opacity: 0;
		transition: all 0.5s;
		z-index: $z-index--2;
	}
}
}