.question1,
.question3,
.question5 {
	background: $etsyOrange;
}

.wrapper1,
.wrapper3 {
	background: $etsyOrange;
}

.question2,
.question4 {
	background: $etsyBlue;
}

.wrapper2 {
	background: $etsyBlue;
}

@for $i from 1 through 6 {
	.question#{$i} {
		z-index: #{$i}00;
		@include position(absolute, 0 0 0 0);
		display: none;

		@include mq(small) {

		}
	}
}

.question {
	margin: 0;
	.wrapper {
		padding: 2rem 0 0 0;
		@include mq(small) {
			padding: 5rem 1rem;
		}

	input[type=radio] {
		display: none;
	}
}

.questionHeadingContainer--1 {
	display:flex;
	justify-content: space-between;
	align-items: center;

	@include mq(small) {
		flex-direction: column;
	}

	p {
		width: 60%;
		font-size: 2.6rem;
		color: $white;
		font-family: $font-family--header;

		@include mq(small) {
			order: 1;
			width: 100%;
		}
	}

	p.black {
		color: $darkGrey;
	}
}


%avatarContainer {
	@include size(20rem);
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $white;
	order: -1;
	overflow:hidden;
}

.avatarContainer {
	&--blue {
		@extend %avatarContainer;
		border: 1.2rem solid $etsyOrange;
		@include mq(small) {
			order: -1;
		}

	}
	&--orange {
		@extend %avatarContainer;
		border: 1.2rem solid $etsyBlue;
		order: 2;

			@include mq(small) {
			order: -1;
		}
	}
}



.options {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 2.4rem;

	@include mq(small) {
		flex-direction: column;
		align-items: center;
	}
}

label {
	width: 24.5%;
	@include mq(small) {
		width: 100%;
		margin-top:3rem;
	}

	&:hover > .square-answers > .answers-img-container  > .answers-img-overlay {
		opacity: 1;
	}

	&:hover > .square-answers > .answers-text {
		color: $black;
		text-decoration: underline;
	}
}

.square-answers {
	@include size(100% 35rem);
	margin-top: 30px;
	background: white;
	padding: 10px;
	box-shadow: 0 1px 3px grey;
	text-align: center;

	@include mq(small) {
		@include size(90% auto);
		margin: auto;
	}

	.answers-img-container {
		position: relative;

		img {
			height: 25rem;
		}
	}
tr
	.answers-text {
		color: $etsyGray;
	}

	.answers-img-overlay {
		@include position(absolute, 0 0 0 0);
		background-color: transparentize($etsyOrange, 0.9);
		opacity: 0;
		transition: all 0.5s;
		z-index: $z-index--2;
	}
}
}
