.resultArea {
	display: none;
	padding: 0;

}

.resultHeader {
	background-color: $white;
	padding: 0;
	position: relative;

		.avatarContainer--orange {
			position: absolute;
			border: 10px solid $etsyOrange;
			background-color: $white;
			border-radius: 50%;
			right: 10rem;
			bottom: -8rem;
			@include size(17rem);
			overflow: hidden;
			display: flex;
			align-items: center;
			z-index: $z-index--3;
			@include mq(medium) {
				right: 0.5rem;
			}

			@include mq(small) {
				@include size(8rem);
				right: 0.5rem;
				bottom: -5rem;
			}
		}
}

.resultsHeading {
	color: $etsyGray;
	font-size: 6.5rem;
	align-self: left;
	margin: 0;
	@include mq(medium) {
		font-size: 4.5rem;
	}
	@include mq(small) {
		font-size: 4rem;
		text-align: center;
	}
}

.resultContainer {
	padding-top: 0;
	background-color: $grey;
	text-align: center;
}

.resultContainer .wrapper {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	padding: 0;
	position: relative;
}

.resultsWrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content:space-between;
	min-height: 50rem;
}

.itemContainer {
	margin: 15px 0;
	width: 30%;
	background: $white;;
	text-align: center;
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	transition: all 0.5s;
	@include mq(small) {
		width: 100%;
	}

	a {
		color: $etsyGray;

		&:hover {
			box-shadow: 0 1 5px rgba(0, 0, 0, 0.5);
		}

		.imgContainer {
			background: white;
			width: 100%;
			height: 300px;
			overflow: hidden;

			img {
				margin: auto
			}

		}

		.infoContainer {
			width: 100%;
			height: 162px;
			margin: 0;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h5 {
				margin:0;
			}
			p {
				margin: 0;
				color: $etsyBlue;
			}
		}
	}
}
.showMoreGifts {
	@include size(100% 6rem);
	background: $white;
	border: 1px solid $grey;
	color: $etsyBlue;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	font-size: 2rem;
}

.animationWrapper {
	@include position(absolute, 0 -1rem 0 -1rem);
	display: flex;
	align-items: center;
	background-color: $grey;
	z-index: $z-index--2;

	.sk-folding-cube {
			transform: scale(2);
	}
}

.resultLinks {
	font-size: 1.5rem;

	a {
		color: $etsyGray;
	}
	
}

