.submit {
	text-align: center;
	background-color: white;

	.wrapper {
		padding: 10rem 1rem 1rem 1rem;

	}

	h3 {
		color: $etsyOrange;
	}

	span {
		color: $etsyBlue;
	}

	p {
		font-size: 1.8rem;
		color: $etsyGray;
	}


	label {
		display: block;
		text-align: center;
		font-family: $font-family--header;
		font-size: 2rem;
		color: $etsyBlue;

		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}
}

input.submit-answers {
	@include size(17rem);
	background: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(images/gift.svg);
	border: none;

}

